.generation-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generation-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
    font-size: x-large;
    width: 80%;
}

.generation-form__options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.generation-form__select:hover {
    background-color: white;
}

.generation-form__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px 0;
    width: 100%;
}

.generation-form__text-area {
    border: black solid 2px;
    border-radius: 10px;
    padding: 10px;
    width: 85%;
    height: 175px;
    outline: none;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.generation-form__warning {
   color: rgb(255, 187, 0);
   font-size: small;
   font-weight: bold;
   border-radius: 25px;
}

.generation-form__success {
    color: rgb(35, 255, 35);
    font-size: small;
    font-weight: bold;
    border-radius: 25px;
 }

.generation-form__button {
    border-radius: 10px;
    max-width: 300px;
    padding: 15px 20px 15px 20px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.generation-form__button:hover {
    background-color: rgb(130, 240, 255);
}

.generation-audio {
    text-align: center;
}